@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-image: url('/img/bg.webp');
}

$btnBG: #1c3244;
$btnHoverBG: #061d24;

$lightText: white;

/* HEADER */
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

header {
	display: grid;
	grid-template-columns: 70ch auto;
	border: 3px solid black;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	height: 150px;

	h1 {
		color: $lightText;
		align-self: center;
		font-size: 6rem;
		text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.75);
		text-align: center;
		font-family: 'Lilita One';
		-webkit-text-stroke: 3px;
		-webkit-text-stroke-color: black;
		user-select: none;
	}

	nav {
		align-self: flex-end;

		button:first-child {
			border-right: 1px solid black;
			border-left: 2px solid black;
			border-top: 1px solid black;
		}

		button:nth-child(2) {
			border-left: 1px solid black;
			border-right: 2px solid black;
			border-top: 1px solid black;
		}

		button {
			background-color: $btnBG;
			color: $lightText;
			border-bottom: 0px;
			padding: 10px;
			border-radius: 10px 10px 0px 0px;
			width: 150px;
			font-weight: 400;
			text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);

			&:hover {
				background-color: $btnHoverBG;
			}
		}
	}
}

/* POSTER */
#poster-aside {
	background-color: black;

	#movie-poster {
		width: 100%;
		height: 100%;
		align-self: center;
		object-fit: contain;
		color: $lightText;
		text-align: center;
	}
}

/* FILTERS */
#filtering-inputs {
	padding: 10px 40px 10px 40px;
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 10px;
	border: 2px solid black;
	border-top: 0px;
	border-bottom: 0px;
	background-color: #000000c0;

	#select-list,
	#select-genre,
	#input-year,
	#updateFilters-btn,
	#newMovie-btn {
		padding: 5px;
		border: 2px solid black;
		border-radius: 6px;
		font-weight: 400;
	}

	.filters-btns {
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
		color: $lightText;
		background-color: $btnBG;

		&:hover {
			background-color: $btnHoverBG;
		}

		.loader {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			display: block;
			margin: 7px auto;
			position: relative;
			color: #fff;
			left: -100px;
			box-sizing: border-box;
			animation: shadowRolling 2s linear infinite;
		}

		@keyframes shadowRolling {
			0% {
				box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0),
					0px 0 rgba(255, 255, 255, 0);
			}
			12% {
				box-shadow: 100px 0 white, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0),
					0px 0 rgba(255, 255, 255, 0);
			}
			25% {
				box-shadow: 110px 0 white, 100px 0 white, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
			}
			36% {
				box-shadow: 120px 0 white, 110px 0 white, 100px 0 white, 0px 0 rgba(255, 255, 255, 0);
			}
			50% {
				box-shadow: 130px 0 white, 120px 0 white, 110px 0 white, 100px 0 white;
			}
			62% {
				box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 white, 120px 0 white, 110px 0 white;
			}
			75% {
				box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 white, 120px 0 white;
			}
			87% {
				box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0),
					130px 0 white;
			}
			100% {
				box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0),
					200px 0 rgba(255, 255, 255, 0);
			}
		}
	}
}

/* MOVIE DETAILS */
#movie-details-container {
	padding: 40px;
	border: 2px solid black;

	#movie-details {
		background-color: white;
		border: 2px solid black;
		padding: 40px;
		box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.85);
		height: 100%;
		overflow-y: auto;

		#title-rating-block {
			display: flex;
			justify-content: space-between;
			gap: 10px 40px;

			#movie-title {
				font-weight: 600;
				font-size: larger;
			}

			#rating-container {
				width: max-content;
				display: flex;
				flex-direction: column;

				#rating {
					display: flex;
					color: #545758;
					font-weight: 500;

					span {
						color: black;
						font-weight: 600;
					}

					#star {
						position: relative;
						display: inline-block;
						margin-left: 0.9em;
						margin-right: 0.9em;
						margin-bottom: 1.4em;
						border-right: 0.3em solid transparent;
						border-bottom: 0.7em solid #fc0;
						border-left: 0.3em solid transparent;

						/* Controlls the size of the star. */
						font-size: 13px;

						&:before,
						&:after {
							content: '';
							display: block;
							position: absolute;
							top: 0.6em;
							left: -1em;
							border-right: 1em solid transparent;
							border-bottom: 0.7em solid #fc0;
							border-left: 1em solid transparent;
							transform: rotate(-35deg);
						}

						&:after {
							transform: rotate(35deg);
						}
					}
				}

				#votes {
					font-size: small;
					color: #acb2b4;
					margin-top: -7px;
				}
			}
		}

		.movie-subdetails {
			padding: 10px 0px 5px 0px;
		}

		.movie-section-title {
			font-weight: 500;
		}
	}
}

/* RESPONSIVENESS */
//above 1500px
@media screen and (min-width: 1500px) {
	body {
		height: calc(100vh - 150px);
	}

	main {
		display: grid;
		grid-template-columns: 70ch auto;
		grid-template-rows: auto 1fr;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		height: 100%;
	}

	#poster-aside {
		grid-area: 1 / 1 / 13 / 2;
	}

	#filtering-inputs {
		grid-area: 1 / 2 / 2 / 3;
	}

	#movie-details-container {
		grid-area: 2 / 2 / 13 / 3;
	}
}

//below 1500px
@media screen and (max-width: 1500px) {
	main {
		display: grid;
		grid-template-columns: 70ch auto;
		grid-template-rows: repeat(6, 1fr);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		height: calc(100vh - 150px);
	}

	#poster-aside {
		grid-area: 1 / 1 / 7 / 2;
	}

	#filtering-inputs {
		grid-area: 1 / 2 / 2 / 3;
		display: grid;
		grid-template-columns: auto;
	}

	#movie-details-container {
		grid-area: 2 / 2 / 7 / 3;
	}
}

//below 1200px
@media screen and (max-width: 1200px) {
	header {
		display: block;
		height: auto;

		nav {
			width: 100%;
			display: inline-block;
			text-align: center;
		}
	}

	main {
		height: calc(100vh - 192px);
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}

	#filtering-inputs {
		grid-area: 1 / 1 / 1 / 12;
	}

	#poster-aside {
		height: calc(100vh - 344px);
		grid-area: 2 / 1 / 12 / 7;
	}

	#movie-details-container {
		height: calc(100vh - 344px);
		grid-area: 2 / 7 / 12 / 12;
	}
}

//below 800px
@media screen and (max-width: 800px) {
	header {
		display: block;
		height: auto;

		nav {
			width: 100%;
			display: inline-block;
			text-align: center;
		}
	}

	main {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}

	#filtering-inputs {
		grid-area: 1 / 1 / 2 / 6;
	}

	#poster-aside {
		grid-area: 2 / 1 / 3 / 6;
		background-color: $lightText;
		width: calc(100vw - 100px);
		height: max-content;
		margin: 40px 40px 0px 40px;

		#movie-poster {
		}
	}

	#movie-details-container {
		grid-area: 3 / 1 / 3 / 6;
		border: 0px;
	}
}

@media screen and (max-width: 600px) {
	#poster-aside {
		#movie-poster {
			width: 100%;
		}
	}
}
